<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enterprise Development</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link href="css/navigation.css" rel="stylesheet">
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Parse.js -->
    <script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <!-- Handlebars.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
   
    <script src="js/admin.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="index.html">Home</a>
          <a class="blog-nav-item" href="admin.html">Admin</a>
          <a class="blog-nav-item" href="class.html">Add A Class</a>
          <a class="blog-nav-item" href="upload.html">Upload Questions</a>
          <a class="blog-nav-item" href="quiz.html">Take a quiz</a>
          <a class="blog-nav-item" href="download.html">Print Questions</a>
          
        </nav>
      </div>
  </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Admin Page</h1>
        <p class="lead blog-description">Log in to load questions.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="main-container"></div>

        </div><!-- /.blog-main -->

        <

    

    </div><!-- /.container -->



    <script id="login-tpl" type="text/x-handlebars-template">
    <form class="form-signin" role="form">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
      <input type="password" name="password" class="form-control" placeholder="Password" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </script>

    <script id="welcome-tpl" type="text/x-handlebars-template">
    <h2>Welcome, {{username}}!</h2>
    <button class="add-blog btn btn-lg btn-primary">Add Question</button>
    </script>

    <script type="text/template" id="add-tpl">
    <h2>Add a question</h2>

    <form class="form-add" role="form">
      <div class="form-group">
        <label for="title">Question</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Exam Question">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" rows="20"></textarea>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    </script>

    
  </body>
</html>