<html>
<title>Enterprise Development</title>


<link href="css/bootstrap.min.css" rel="stylesheet" />
<script src="js/bootstrap.min.js"></script> 
<link href="css/navigation.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/print.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
   <!-- Handlebars.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

  
<script id="questions-tpl" type="text/x-handlebars-template">
    {{#each exam}}
    <div class="quiz-exam">
        <h2 class="exam-title"><a href="#">{{title}}</a></h2>
        <p class="exam-meta"></p>
        <div>{{{content}}}</div>
    </div>
    {{/each}}
</script>  
  
  
<script type="text/javascript" src="./js/index.js"></script> 

<head>


</head>

<body>
 

<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="index.html">Home</a>
          <a class="blog-nav-item" href="admin.html">Admin</a>
          <a class="blog-nav-item" href="class.html">Add A Class</a>
          <a class="blog-nav-item" href="upload.html">Upload Questions</a>
          <a class="blog-nav-item" href="quiz.html">Take a quiz</a>
        </nav>
      </div>
    </div>

   <div class="col-sm-8 quiz-main">
    <div class="main-container"></div>
   </div>
  
   
            
            
            
            <hr>
            

 

   
	 
</body>

</html>