<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
<link rel="stylesheet" type="text/css" href="css/ionic.min.css" />

<script src="lib/jquery.js"></script>
<script src="lib/parse.js"></script>
<script src="lib/mustache.min.js"></script>
<script src="js/local-storage.js"></script>
<script src="js/questions-json.js"></script>



<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="index.html">Home</a>
          <a class="blog-nav-item" href="admin.html">Admin</a>
          <a class="blog-nav-item" href="class.html">Add A Class</a>
          <a class="blog-nav-item" href="upload.html">Upload Questions</a>
          <a class="blog-nav-item" href="quiz.html">Take a quiz</a>
        </nav>
      </div>
    </div>


<script>
function onBodyLoad() {
	//document.addEventListener("deviceready", onDeviceReady, false);
}
</script>
</head>
<body onload="onBodyLoad()" class="ionic-body">
	<div id="titlebar">
		<div class="bar bar-header bar-light">
	  		<h1 class="title">Play</h1>
	  		<a class="button button-clear icon ion-person pull-right" id="profileLink"></a>
		</div>
	</div>
	<div class="" id="mainbody" style="padding-top: 44px">
	</div>
</body>
<script id="profile-titlebar-tmpl" type="x-tmpl-mustache">
	<div class="bar bar-header bar-light">
  		<h1 class="title">{{title}}</h1>
  		<a class="pull-right button button-clear" id="playLink" href="#"><span class="icon ion-ios7-football-outline"></span> </a>
	</div>
</script>
<script id="gen-titlebar-tmpl" type="x-tmpl-mustache">
	<div class="bar bar-header bar-light">
  		<h1 class="title">{{title}}</h1>
  		<a class="button button-clear icon ion-person pull-right" id="profileLink"></a>
	</div>
</script>
<script id="home-tmpl" type="x-tmpl-mustache">
	<div id="main" class="content">
		<ul id='list' class='list'>
		{{#list}}
			<li class="item"><a class="newsitem button button-clear button-positive" href="#" data-id="{{id}}">{{title}}</a></li>
		{{/list}}
		</ul>
	</div>
</script>
<script id="question-list-tmpl" type="x-tmpl-mustache">
	<div class="content">
		<ul id='qlist' class='list'>
		{{#list}}
			<li class="item"><a class="qitem button button-clear button-positive" href="#" data-id="{{id}}">{{title}}</a></li>
		{{/list}}
		</ul>
	</div>
</script>
<script id="question-tmpl" type="x-tmpl-mustache">
	<div class="content">
		<h3 class="padding">{{question.title}}</h3>
		<div id='olist' class='list list-inset'>
		{{#list}}
	        <label class="item item-radio">
				<input type="radio" name="group" data-questionid="{{questionId}}" data-id="{{id}}">
			    <div class="item-content">
			    	{{title}}
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
  			</label>
		{{/list}}
		</div>
		<button id="submitAnswer" class="button button-clear button-positive padding-horizontal button-full ">
		    Next
		</button>
	</div>
</script>
<script id="profile-tmpl" type="x-tmpl-mustache">
	<div class="list">
	  <div class="item item-divider">
		Activity
	  </div>
	  <a class="item item-icon-left" href="#" id="user-right-score">
		<i class="icon ion-ios7-checkmark-outline"></i>
		Right Answers
		<span class="badge badge-balanced">{{right}}</span>
	  </a>

	  <a class="item item-icon-left" href="#" id="user-wrong-score">
		<i class="icon ion-ios7-close-outline"></i>
		Wrong Answers
		<span class="badge badge-assertive">{{wrong}}</span>
	  </a>

	  <a class="item item-icon-left" href="#" id="user-perc-score">
		<i class="icon ion-ios7-speedometer-outline"></i>
		Score
		<span class="badge badge-stable">{{perc}} %</span>
	  </a>
	</div>
</script>
<script id="error-tmpl" type="x-tmpl-mustache">
	<div class="card">
	  <div class="item item-text-wrap assertive">
		{{msg}}
	  </div>
	</div>
</script>

</html>